/*****************************************************/
/* This semester we will be using my variation of    */
/* Josh Comeau's CSS Reset instead of normalize      */
/* Read more at                                      */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************/
/* Always add your CSS below the reset CSS           */
/*****************************************************/
:root {
  --color-font: #333; /* grey */
  --color-primary: #205373; /* dark blue */
  --color-secondary: #517ea6; /* light blue */
  --color-accent: #a6653f; /* orange brown */
  --color-accent-light: #f2bc8d; /* light tan */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* this an experimental line-height; if it breaks, add line-height: 1.5 to body */
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* until you get a feel for overflow, I'll keep these next two commented out */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* p {
  overflow-wrap: break-word;
  hyphens: auto;
} */

/* temp CSS for HTML only assignments */
picture img {
  width: 100%;
}

svg {
  width: 200px;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

/************ add your CSS here *****************/
body,
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

body{
  font-family: "Poppins", sans-serif;
  color: #333
}
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 1.5rem;
}

article,
aside {
  margin-bottom: 6rem;
}
a {
  text-decoration: none;
}

a[href]:hover {
  background-color: var(--color-secondary);
  color: #205373;
}
.button {
  background-color: #517ea6;
  transition: background-color 300ms ease;
  cursor: pointer;
}
.main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 50rem;
}
.body {
  font-size: 1rem;
}
footer {
   
  background-color:  #98c1d9;
}

footer p {
color: whitesmoke;
margin: 0;
padding: 3rem 1rem 6rem;
}